<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>ComPLaineR</title>
</head>
<body>
	<h1 class="heading"><a href="/">ComPLaineR</a></h1>
	<div class="nav">
		<a href="/">Home</a>
		<a href="/authors">Authors</a> |
		<a href="/microposts">Posts</a> |
		<a href="/tags">Playlists</a>
	</div>
	<section id="main">
		<%= yield %>
	</section>
</body>
</html>