 
.heading {
	text-align: center;
	font-size: 100px;


}

.heading a {
	text-decoration: none;
}


.nav {
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 30px;
	background: yellow;
}

.nav a {
	padding-right: 20px;
}

body {
	font-size: 20px;
}


/*
================
   Show Page
================	
*/



.author_info img{
	width: 160px;
	display: block;
	
}
