<p>Authors' Index</p>

<ol>
	<li>Iterate through all Authors here and have their names be anchored links to their own pages --> /authors/:id</li>

	<li>Add link to become a new author -->/authors/new</li> 


</ol>


<!--  id | name | image_url -->