<h3>Become an Author</h3>
<form action="/authors" method="POST">
	<label>Name:<br>
		<input type="text" name="author[name]">
	</label><br>
	<label>Image URL:<br>
		<input type="text" name="author[image_url]">
	</label><br>
	<input type="submit">
</form>

<!--  id | name | image_url -->