<h3>Author Info</h3>
<div class="author_info">
	<p><%= @author.name %></p>
	<img src="<%= @author.image_url %>">
	<a href="/authors/<%= @author.id %>/edit">Edit Author Info</a>
</div>









<!--   author: id | name | image_url -->

<!-- add author's microposts later!! -->